<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    <bean id="connect" class="connection.Connect">
        <constructor-arg index="0" value="org.h2.Driver"></constructor-arg>
        <constructor-arg index="1" value="jdbc:h2:~/test;AUTO_SERVER=TRUE;Mode=MySQL"></constructor-arg>
        <constructor-arg index="2" value="sa"></constructor-arg>
        <constructor-arg index="3" value=""></constructor-arg>
    </bean>

    <bean id="connectionController" class="connection.ConnectionController">
        <constructor-arg index="0" ref="connect"></constructor-arg>
    </bean>

    <bean id="productService" class="ProductService">
        <constructor-arg index="0" ref="connectionController"></constructor-arg>
        <constructor-arg index="1" value="Products"></constructor-arg>
    </bean>

    <bean id="milk" class="entity.Product">
        <constructor-arg index="0" value="milk"></constructor-arg>
        <constructor-arg index="1" value="55.6"></constructor-arg>
        <constructor-arg index="2" value="100"></constructor-arg>
    </bean>

    <bean id="coffe" class="entity.Product">
        <constructor-arg index="0" value="coffe"></constructor-arg>
        <constructor-arg index="1" value="236.20"></constructor-arg>
        <constructor-arg index="2" value="20"></constructor-arg>
    </bean>

</beans>
